{{#projects}}
{{#if ../img}}
<div class="project">
    <div class="project-container">
        <div class="preview">

            <img src="{{path}}/screenshot.png" alt="{{name}}">
        </div>
        <a href="/projects{{path}}" class="project-name">
            {{name}}
        </a>
    </div>
</div>
{{else}}
<a href="/projects{{path}}" class="nav-item">
    {{name}}
</a>
{{/if}}

{{/projects}}